<div class="slide-menu" [ngClass]="{ 'open': openSideMenu }">
    <div class="slide-menu__body">
        <div class="menu slide-menu__nav">
            <ol>
                <a routerLink="/" routerLinkActive="active">
                    <li><span>Home</span></li>
                </a>
                <a href="#">
                    <li><span>Projects</span></li>
                </a>
                <a routerLink="/commission-guide" routerLinkActive="active">
                    <li><span>Services</span></li>
                </a>
                <a href="#">
                    <li><span>About</span></li>
                </a>
            </ol>
        </div>
    </div>
    <div class="slide-menu__button-container" (click)="openSideMenu =!openSideMenu"
    >
        <div class="slide-menu__button">
            <img src="assets/menu.svg">
        </div>
    </div>

</div>