@import "src/variables.scss";
.sidenav-right__line {
  position: fixed;
  border-right: 2px solid #E37AFF;
  height: 100vh;
  right: 45px;
  z-index: 11;
}
.sidenav-right {
  position: fixed;
  // border-right: 2px solid #E37AFF;
  right: -25px;
  bottom: 74px;
    z-index: 7;
  &__text {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: $accent;
  }
}

@media screen and (max-width: 750px) {
    .sidenav-right__line, .sidenav-right {
        display: none;
    }
}