<div class="dropdown__container">
    <div class="dropdown">
        <a class="dropbtn">
            Get in touch 
            <div class="image-container"><img class="dropdown__triangle" src="assets/triangle.svg"></div>
        </a>
        <div class="dropdown-content">
            <ol class="social__links">
                <li><a href="mailto:ngongocmy314@gmail.com">Email</a></li>
                <li><a href="https://www.instagram.com/mynonjo/">Instagram</a></li>
                <li><a href="https://crimsoncuria.tumblr.com">Tumblr</a></li>
                <li><a href="https://twitter.com/mynonjo">Twitter</a></li>
                <li><a href="https://ko-fi.com/mynonjo">Ko-fi</a></li>
            </ol>
        </div>
    </div>
</div>