
<app-top-navbar class="homepage"></app-top-navbar>
<div class="wrapper">
    <!-- content -->
    <div class="content__container">

        <div  class="review center" [ngClass]="{ 'open': openMenu }">
            Blaspheme, but I like it.<br>
            — Your grandma.
        </div>
    </div>
    <a href="#"><img class="to-top noselect" src="assets/top.svg" alt="Back to top"></a>

    <!-- <div class="push"></div> -->
</div>

<footer class="footer">
    <!-- Menu container -->
    <div class="menu__container desktop">
        <div class="hamburger desktop" (click)="openMenu = !openMenu" [ngClass]="{ 'open': openMenu }">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
        <div class="menu" [ngClass]="{ 'open': openMenu }">
            <ol>
                <a routerLink="/projects">
                    <li><span>Projects</span></li>
                </a>
                <a routerLink="/commission-guide" routerLinkActive="active">
                    <li><span>Services</span></li>
                </a>
                <a routerLink="/construction">
                    <li><span>About</span></li>
                </a>
            </ol>
        </div>
    </div>
    <!-- ./ Menu container -->

    <!-- IMAGE -->
    <div class="img__container" [ngClass]="{ 'open': openMenu }">
        <img class="main-img noselect" src="assets/figure.webp">
    </div>
    <!-- ./ IMAGE -->

    <ul class="footer__links">
        <li>
            <a href="mailto:ngongocmy314@gmail.com">ngongocmy314@gmail.com</a>
        </li>
        <li>
            <a href="https://www.instagram.com/mynonjo/">Instagram</a>
        </li>
        <li>
            <a href="https://crimsoncuria.tumblr.com">Tumblr</a>
        </li>
    </ul>

</footer>
