/////////////// ✨VARIABLES✨ ///////////////////
$side-padding: 189px;
$accent: #E37AFF;
$grey:  #C1C1C1;
$white: #FFFFFF;
$background: #101428;
$krona: 'Krona One', sans-serif;
$syco: 'Syncopate', sans-serif;
$small: 12px;
$verySmall: 9px;
$regular: 20px;
/////////////////////////////////////////////////