<div class="socials desktop">
    Get in touch:
    <div class="socials__icons">
        <ul class="socials__icons-list">
            <li>
                <a href="https://www.instagram.com/mynonjo/">
                    <img src="assets/Instagram.svg">
                </a>
            </li>
            <li>
                <a href="https://crimsoncuria.tumblr.com">
                    <img src="assets/Tumblr.svg">
                </a>
            </li>
            <li>
                <a href="https://twitter.com/mynonjo">
                    <img src="assets/Twitter.svg">
                </a>
            </li>
            <li>
                <a href="https://ko-fi.com/mynonjo">
                    <img class="socials__icons-kofi" src="assets/ko-fi.svg" alt="Ko-fi"></a>
            </li>
            <li>
                <a href="mailto:ngongocmy314@gmail.com">
                    <img src="assets/email.svg">
                </a>
            </li>
        </ul>
    </div>
</div>

<app-contact-table class="mobile-only"></app-contact-table>