<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>

<div class="full-container">
    <h1 class="title--big">Let's<br> take<br> a <span>look</span></h1>
    <div class="background-img__container">
        <img class="background-img" src="assets/trang22.webp">
        
    
    </div>
    <div class="horizontal-list">
        <div class="navigation">
    
            <ol class="navigation__menu horizontal">
                <li>
                    Design
                </li>
    
                <li>
                    Illustration
                </li>
                <li>
                    Game
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="standard-container">
    <hr>
    <ol class="navigation__menu">
        <li>
            Design
        </li>
    <div class="project__container">
        <img src="assets/projects/barbie_catalog.webp">
        <h2>Barbie Catalogue</h2>
        Editorial Design / 2021
    </div>
        <li>
            Illustration
        </li>
        <li>
            Game
        </li>
    </ol>
</div>

<!--     <div class="navigation">    
        <div class="navigation__header-container">
            <a class="back-chevron">
                <img src="assets/chevron.svg" alt="left chevron">
            </a>
            <h1 class="navigation__header">
            Projects</h1>
        </div>
        
        <ol class="navigation__menu">
            <li>
                Design
            </li>
            <div>
                <ul class="navigation__menu">
                    <li>
                        <a>Barbie Catalogue</a>
                    </li>
                    <li>
                        <a>TiNiworld Rebrand</a>
                    </li>
                </ul>
            </div>
            
            <li>
                Illustration
            </li>
            <li>
                Game
            </li>
        </ol>
    </div> -->