<app-page-title page="Projects"></app-page-title>
<app-top-navbar></app-top-navbar>
<app-side-navbar></app-side-navbar>
<div class="full-container">
    <h1 class="title--big">Proceed<br> with<br><span>caution,</span>
    <br> love!
    </h1>
    <div class="background-img__container">
        <img class="background-img" src="assets/trang22.webp">
        
    
    </div>
    <div class="horizontal-list">
        <div class="navigation">
    
            <ol class="navigation__menu horizontal">
                <li (click)="scrollTo(design)">
                    Design
                </li>
    
                <li (click)="scrollTo(illustration)">
                    Illustration
                </li>
                <li (click)="scrollTo(game)">
                    Game
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="standard-container">
    <hr>
    <ol class="navigation__menu">
        <li #design>
            Design
        </li>
        <!-- Design showcase -->
        <div class="project__container--two">
            <div class="project__container" style="width:40%">
                <div class="project__img-container">
                    <img style="max-height:500px" class="hover-zoom" src="assets/projects/soup.webp">
                    </div>
                <h2>YUM!
                <span>Label design/ 2021</span>
                </h2>
                
            </div>
            <div class="project__container" style="width:58%">
                <div class="project__img-container">
                    <img style="max-height:500px" class="hover-zoom" src="assets/projects/tiniredo-02.webp">
                </div>
                <h2>TiNiworld Rebrand
                <span>Branding/ 2021</span>
                </h2>
                
            </div>
        </div>
        <div class="project__container project__container--last">
            <div class="project__img-container">
                <img src="assets/projects/barbie_catalog.webp">
            </div>                
            <h2>Barbie Catalogue
                <span>Editorial Design / 2021</span>
            </h2>
        </div>
        <hr>
        <li #illustration>
            Illustration
        </li>
        <div class="project__container--two">

            <div class="project__container" style="width:58%">
                <div class="project__img-container">
                <img style="max-height:500px" class="hover-zoom" src="assets/projects/vtm.webp">
                </div>
                <h2>Vampire: The masquerade
                    <span>Book Illustrations/ 2022</span>
                </h2>
        
            </div>
            <div class="project__container" style="width:40%">
                <div class="project__img-container">
                <img style="max-height:500px" class="hover-zoom" src="assets/projects/young-pope-mockup.webp">
                </div>
                <h2>The Young Pope
                    <span>Book cover Illustration/ 2021</span>
                </h2>
            
            </div>
        </div>
        <hr>
        <li #game>
            Game
        </li>
        <div class="project__container--two">
            <div class="project__container" style="width:40%">
                <div class="project__img-container">
                    <img style="max-height:500px" class="hover-zoom" src="assets/projects/bathroom.webp">
                </div>
                <h2>Days in Kamchatka
                    <span>Comming soon</span>
                </h2>
        
            </div>
            <div class="project__container" style="width:58%">
                <div class="project__img-container">
                    <img style="max-height:500px" class="hover-zoom" src="assets/projects/tarot-tuck-box art3.webp">
                </div>
                <h2>TOGETHER: Escape the
                average date night
                    <span>Card game illustrations/ 2021</span>
                </h2>
        
            </div>
        </div>
    </ol>
</div>
<app-social-footer></app-social-footer>
<app-back-to-top></app-back-to-top>
<!--     <div class="navigation">    
        <div class="navigation__header-container">
            <a class="back-chevron">
                <img src="assets/chevron.svg" alt="left chevron">
            </a>
            <h1 class="navigation__header">
            Projects</h1>
        </div>
        
        <ol class="navigation__menu">
            <li>
                Design
            </li>
            <div>
                <ul class="navigation__menu">
                    <li>
                        <a>Barbie Catalogue</a>
                    </li>
                    <li>
                        <a>TiNiworld Rebrand</a>
                    </li>
                </ul>
            </div>
            
            <li>
                Illustration
            </li>
            <li>
                Game
            </li>
        </ol>
    </div> -->