<div class="contact-table">
    <table class="no-left no-right">
        <tr>
            <td class="no-left">
                <a href="https://www.instagram.com/mynonjo/">
                    <img src="assets/Instagram.svg" alt="Instagram">
                </a>
            </td>
            <td class='no-right'>
                <a href="https://crimsoncuria.tumblr.com">
                    <img src="assets/Tumblr.svg" alt="Tumblr">
                </a>
            </td>
        </tr>
        <tr>
            <td class="no-left">
                <a href="https://twitter.com/mynonjo">
                    <img src="assets/Twitter.svg" alt="Twitter">
                </a>
            </td>
            <td class='no-right'>
                <a href="https://ko-fi.com/mynonjo">
                    <img class="kofi-icon" src="assets/ko-fi.svg" alt="Ko-fi"></a>
            </td>
        </tr>
        <tr>
            <td class="no-left no-right" colspan="2"><a href="mailto:ngongocmy314@gmail.com">ngongocmy314@gmail.com</a>
            </td>
        </tr>
    </table>
</div>