/////////////// ✨VARIABLES✨ ///////////////////
$side-padding: 189px;
$mobile-padding: 33px;

$accent: #E37AFF;
$grey:  #C1C1C1;
$white: #FFFFFF;
$background: #101428;

$krona: 'Krona One', sans-serif;
$syco: 'Syncopate', sans-serif;
$spaceMono: 'Space Mono', monospace;

$small: 12px;
$verySmall: 9px;
$regular: 20px;

$tablet-breakpoint: 768px;

////////////////////// MIXINS ///////////////////////////
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}

@mixin bordered-container {
  border: 2px solid $accent;
  box-sizing: border-box;
  border-radius: 20px;
}

@mixin highlight-fade-hover {
  &:hover > a {
    color: $grey;
  }
  &:hover > a:hover {
    color: $white;
  }
}

@mixin list-style {
  ol {
    list-style: none;
    counter-reset: nav-counter;
    padding-inline-start: 0px;
    margin-right: 0px;
    &:hover > a {
      color: $grey!important;
    }

    & a:hover {
      color: $white!important;
    }

    // @include highlight-fade-hover;
    & li {
      line-height: 2.1rem;
      counter-increment: nav-counter;
      padding-bottom: 11px;
      
      cursor: pointer;

      scroll-margin-top: 25px;

      &:not(:last-child) {
        padding-bottom: 0px;
      }
      &::before {
        content: counter(nav-counter);
        color: #E37AFF;
        font-weight: bold;
        padding-right: 19px;
      }
    }
  } 
}

@mixin mobile-only {
  .mobile-only {
    display: none;
  }
  @media screen and (max-width:$tablet-breakpoint) {
    .mobile-only {
      display: block;
    }
  }
}