/////////////// ✨VARIABLES✨ ///////////////////
$side-padding: 189px;
$accent: #E37AFF;
$grey:  #C1C1C1;
$white: #FFFFFF;
$background: #101428;
$krona: 'Krona One', sans-serif;
$syco: 'Syncopate', sans-serif;
$small: 12px;
$verySmall: 9px;
$regular: 20px;
////////////////////// MIXINS ///////////////////////////
@mixin noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome, Edge, Opera and Firefox */
}